@keyframes appearb{
  from{
    opacity: 1;
    scale: 1;
  }
  to{
    opacity: 0;
    scale: 0;
  }


}

@keyframes transition1{
  from{
    opacity: 0;
    clip-path: inset(100% 100% 0 0);
  }
  to{
    opacity: 1;
    clip-path: inset(0 0 0 0);
  }
}
@keyframes appear{
  from {
    opacity: 0;
    clip-path: inset(100% 100% 0 0);
  }
  to{
    opacity: 1;
    clip-path: inset(0 0 0 0);
  }

}

@keyframes appeara{
  from{
    opacity: 0;
    scale: 0;
  }
  to{
    opacity: 1;
    scale: 1;
  }

}

.LogoContainer{
  margin-left: 14rem;
  margin-top: 0.2rem;
  width: 6vw;
  height: 7vh;
  display: flex;
}
.LogoContainer > img{
  object-fit: contain;
  width: 100%;
  height: 100%;

}

.TopNav{
  display: flex;
  flex-direction: row;
  background-color: #db8976;
  overflow: hidden;
  margin-bottom: 1.6rem;
}
.Links{
}

.TopNav a{
  float: left;
  color: black;
  text-align: center;
  padding: 0.6rem 0.4rem;
  text-decoration: none;
  font-size: 17px;
  font-weight: 600;
}

.TopNav a:hover{
  color: lightskyblue;
}

.TopNav a:active{
  opacity: 0.6;
  color: white;
}

.Banner-Container{
  display: flex;
  justify-content: center;
  align-items: center;
  animation: transition1 linear 3s;
  animation-range: entry 0% cover 40%;
  
  
  
  
  
}







.container1{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 80vh;
  width: 80%;
  margin: auto;
  

}

.image-container{
  width: 33%;
  height: 50%;
  background-color: white;
  overflow: hidden;
  z-index: 20;
  animation: appeara linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}

.TextSlides{
  height: 300px;
  width: 95%;
  margin: auto;
  display: flex;
  flex-direction: row;


}



.TComponent{
  height: 100vh;
  width: 33%;
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}

.TComponent > h1{
  font-size: 40px;

}
.TComponent > p{
  font-size: 20px;
  font-weight: 400;
}

.image-container > img{
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  transition: transform 0.5s;
  
}


.image-container > img:hover{
  opacity: 0.8;
  transform: scale(1.2);
}

#Camii-Container{
  display:flex;
  flex-direction: column;
  flex-wrap: none;
  justify-content: center;
  align-items: center;
  
}

.Camii-Image{
  height: 110vh;
  width: 110vh;
  overflow: hidden;
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;

}
#Camii-Container > h1{
  font-size: 50px;
  animation: appeara linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
  
}
.links{
  color:black;
}
#Camii-Container > a{
  margin-top: 20px;
  font-size: 30px;
  font-weight: 500;
  color: black;
  transition: opacity 0.5s;
  animation: appeara linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;

}

#Camii-Container > a:hover{
  opacity: 0.7;
}
#Camii-Container > p{
  margin-top: 1.4rem;
  font-size: 1.8rem;
  font-weight: 500;
  animation: appeara linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
  
}

.Camii-Image > img{
  object-fit: cover;
  width: 100%;
  height: 100%;
  transition: 0.5s;
  
}

.Camii-Image > img:hover{
  opacity: 0.7;
  transform: scale(1.1);
}



.Footer{
  height: 8vh;
  margin-top: 1.8rem;
  background-color: #518dcf;
  font-size: 3vh;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Footer > p{
  margin-top: 4vh;
  margin-left: 4vh;
}
.event-img{
  display: flex;
  object-fit: cover;
  width:30vw;
}

.event-img >img{
  width: 100%;
  height: 100%;
  border-radius: 1.6rem;
}

.Con5{
  display: flex;
  flex-direction: column;
  width: 50vw;
  height: 100vh;
  margin: auto;
  background-color:#518dcf;
  border-radius: 1.4rem;
  margin-top: 1.4rem;
  margin-bottom: 1.8rem;
  text-align: center;

}

.Con6{
  width: 80%;
  height: 80%;
  background-color: white;
  margin: auto;
  border-radius: 1.4rem;
  margin-bottom: 1.6rem;
}
.Con6 > h1{
  font-size: 2rem;
}

.Con5 > h1{
  font-size: 2.6rem;
}
.Con6 > p{
  font-size: 1.5rem;
  font-weight: 500;
}

.CT{
  display: flex;
  flex-direction: column;
  width: 30vw;
  height: 30vh;
  margin: auto;
  background-color: #fcba03;
  border-radius: 1.4rem;
  text-align: center;
}

.CT > h1{
  font-size: 2rem;
}

.CT > button{
  border-radius: 1.5rem;
  width: 10vw;
  height: 5vh;
  margin-left: 10rem;
  border-color: transparent;
  background-color: #f0c243;
  font-size: 1.2rem;
  font-weight: 500;

}

.AboutContainer{
  background-color: #e0dfde;
  width: 80vw;
  height: 80vh;
  border-radius: 1.2rem;
  margin-left: 9rem;
  margin-top: 6rem;
  margin-bottom: 2rem;

}

.AboutContainer > h1{
  text-align: center;
  font-size: 3rem;


}
.AboutContents{
  display: flex;
  flex-direction: row;
  width: 90%;
  height: 90%;
  gap: 4rem;
}
.AboutText{
  margin-left: 1.4rem;
  width: 30vw;
}

.AboutText > p{
  font-size: 1.6rem;
  font-weight: 500;
}
.AboutImage{
  margin-top: 1.4rem;
  height: 40vh;
  width: 26vw;
  margin-left: 6rem;
  display: flex;
}

.AboutImage > img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1.3rem;
}

.Card{
  display: flex;
  flex-direction:column;
  height: 50vh;
  width: 20vw;
  justify-content: center;
  align-items: center;
}

.CardImage{
  display: flex;
  margin-top: 1.4rem;
  height: 30vh;
  width: 15vw;
}

.CardImage > img{
  width: 100%;
  height: 100%;
  border-radius: 1.1rem;
  object-fit: cover;
  
}

.Card > button{
  margin-top: -0.6rem;
  width: 6vw;
  font-weight: 500;
  background-color: black;
  border-radius: 1.4rem;
  color: white;
}

.Card > p{
  font-size: 1.6rem;
  font-weight: 600;
  margin-top: 0.6rem;
}

.CardContainer{
  text-align: center;
  height: 60vh;
  gap: 0.5rem;
  width: 87vw;
  margin-left: 4rem;
  margin-bottom: 1.2rem;

}

.CardContainer > h1{
  font-size: 2.5rem;
  margin-top: 1.5rem;
}

.buttons{
  display: flex;
  flex-direction: row;
  gap: 0.3rem;
}

.buttons > button{
  margin-top: -0.6rem;
  width: 6vw;
  font-weight: 500;
  background-color: black;
  border-radius: 1.4rem;
  color: white;
}

.Favourites{
  width: 100vw;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.Favourites > h1{
  font-size: 3rem;
  
}

.FavouritesContainer{
  width: 95%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.CardContainers{
  width: 80vw;
  margin-top: 1.8rem;
  margin-left: 3rem;
}

.HCard{
  display: flex;
  flex-direction:column;
  height: 50vh;
  width: 60vw;
  justify-content: center;
  align-items: center;
}

.HCard > button{
  margin-top: -0.6rem;
  width: 6vw;
  font-weight: 500;
  background-color: black;
  border-radius: 1.4rem;
  color: white;
}

.HCard > p{
  font-size: 1.6rem;
  font-weight: 600;
  margin-top: 0.6rem;
}
.MapContainer > iframe{
  margin-left: 4rem;
  width: 50vw;
  border-radius: 2rem;
  height: 80vh;
}


.FilterButtons{
  width: 80vw;
  display: flex;
  flex-direction: row;
  margin: auto;
  justify-content: center;
  align-items: center;
  gap: 1.2rem;
  
  
}
.Filter{
  margin-top: -0.6rem;
  width: 6vw;
  font-weight: 500;
  background-color: black;
  border-radius: 1.4rem;
  color: white;
}


.Event > p,h1,h2,h3{
  font-weight: 600;
  
  
}


.Form-Contents > button{
  width: 10vw;
  border-radius: 1.4rem;
  background-color: black;
  height: 6vh;
  font-size: 1.2rem;
  font-weight: 500; 
  border-color: transparent;
  color: white;

}

.allBlogs{
  margin-left: 6rem;
  width: 80vw;
  height: auto;
  display: flex;
  flex-direction: row;
  gap: 1.2rem;
}

.bottom-left{
  position: absolute;
  font-size: 1.4rem;
  font-weight: 500;
  bottom: 1rem;
  left: 16px;
}



.blogPrev{
  display: flex;
  width: 35vw;
  height: auto;
  position: relative;
  text-align: center;
  color: #14120e;
  overflow: hidden;
}


.blogImg{
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  object-fit: cover;
  transition: hover 0.3s;
}

.blogPrev:hover{
  opacity: 0.6;
  transform: scale(1.1);
}

.recentBlogs{
  overflow: hidden;
  margin-left: 6rem;
  display: flex;
  flex-direction: row;
  margin-bottom: 1.6rem;
  width: 80vw;
  gap: 1rem;
}

.blogImg > img{
  width: 100%;
  height: 100%;
  border-radius: 1.4rem;

}

.Form-Contents{
  border-radius: 1.4rem;
  display: flex;
  flex-direction: column;
  width: 60vw;
  height: 60vh;
  margin-top: 4rem;
  margin-left: 6rem;
  
}
.Form-Contents > input{
  width: 20vw;
  height: 5vh;
  margin-bottom: 2rem;

}
.Form-Contents > label{
  font-weight: 450;
  font-size: 1.2rem;
  margin-bottom: 0.4rem;

}

.Title{
  margin-left: 6rem;
}
.Event > h1{
  font-size: 1.8rem;
}


.Event {
  width: 60vw;
  margin-left: 6rem;
}

.Event > p{
  
  font-weight: 500;
  font-size: 1.3rem;
}

.BlogEntry{
  display: flex;
  flex-direction: column;
  margin-left: 7rem;
  width: 90vw;
}

.BlogEntry > h1{
  font-size: 3rem;
  font-weight: 500;

}

.BlogImage{
  display: flex;
  width: 50%;
}

.BlogImage > img{
  object-fit: cover;
  width: 100%;
  height: 60vh;
}

.BlogEntry > p{
  font-size: 1.4rem;
  font-weight: 450;
  width: 50%;
}

.recentBlog{
  overflow: hidden;
  width: 32.3%;
  height: auto;
  position: relative;
  transition: transform 0.3s;
}

.recentBlog > img{
  width: 100%;
  height: 100%;
  border-radius: 1.2rem;
}

.recentBlog :hover {
  opacity: 0.6;
  transform: scale(1.2);
  cursor: pointer;
}




.NewBlog{
  overflow: hidden;
  position: relative;
  text-align: center;
  display: flex;
  width: 25vw;
  height: 35vh;
  margin-left: 6rem;
  object-fit: contain;
  margin-bottom: 1.4rem;
  transition: transform 0.3s;
}

.NewBlog :hover{
  opacity: 0.6;
  transform: scale(1.2);
  
  
}


.NewBlog > img{

  width: 100%;
  height: 100%;
  border-radius: 1.6rem;
  
}

.top-left {
  position: absolute;
  top: 8px;
  left: 16px;
  font-weight: 500;
  font-size: 1.6rem;
}

.commentForm{
  width: 80vw;
  display: flex;
  flex-direction: column;
  margin-left: 7rem;
  margin-top: 10rem;
  


}

.commentForm > textarea{
  width: 45vw;
  height: 4vh;
  outline: none;
  resize: none;
  font-size: 1.2rem;
}

.commentForm > button{
  width: 10vw;
  height: 5vh;
  border-radius: 1.4rem;
  border-color: transparent;
  background-color: black;
  color: white;
  font-size: 1.3rem;
  margin-top: 1.2rem;
  margin-bottom: 1.4rem;
}

.commentForm > label{
  font-size: 1.6rem;
  margin-bottom: 1.2rem;
}

.Comment{
  margin-left: 7rem;
  
}

.Header2{
  margin-left: 7rem;
}

.Comment > p{
  font-size: 1.2rem;
  font-weight: 400;
}

.searchBar{
  margin-left: 6rem;
  margin-bottom: 1.6rem;
}

.searchBar > input{
  border-radius: 1.3rem;
  width: 40vw;
  height: 5vh;
  outline: none;
  border: 1px solid grey;
  box-shadow: none;
  padding-left: 0.5rem;
}


.searchBar > button{
  border-radius: 1.3rem;
  width:4vw;
  height: 5vh;
  border-color: transparent;
  margin-left: 0.2rem;
  margin-left: -4rem;
}

.Result > h1{
  margin-top: 0rem;
}

.Result{
  padding-left: 1.4rem;
  margin-left: 6rem;
  margin-bottom:0.5rem;
  width: 80vw;
  height: 22vh;
  display: flex;
  flex-direction: column;
  background-color: #a6a8ab;
  border-radius: 1.2rem;
  

}



.Result > h1{
  font-size: 1.9rem;
}

.Summary{
  gap: 1.4rem;
  display: flex;
  flex-direction: row;
  margin-top: -1.6rem;
  

  
}
.queryContainer{
  display: flex;
  flex-direction: column;
  width: 80vw;
  margin-bottom: 6rem;
}


.sumimg{
  display: flex;
  width: 8vw;
  height: 12vh;
  padding: 0;
  margin-top: 1.2rem;

  
}

.sumimg > img{
  width: 100%;
  height: 100%;
  border-radius:1.1rem;
}


.Summary > p{
  width: 50%;
}